/* .main {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.registerForm {
  width: 20rem;
}

.title {
  color: black;
} */
